.auth-form {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90%;
    max-height: 900px;
    max-width: 980px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.3);
  }

  &_picture--container {
    position: relative;
    flex: 7;
    height: 100%;

    & img {
      &:first-child {
        border-radius: 10px 0 0 10px;
        object-fit: cover;
      }
      &:last-child {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30%;
        height: auto;
      }
    }
  }

  &_inner--container {
    flex: 4;
    width: 80%;
    height: 90%;
    padding: 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.auth-routes {
  width: 100%;
  padding: 0 20px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    text-decoration: none;
    color: black;
    font-weight: 500;

    padding: 20px 0;
    &.active {
      border-bottom: 2px solid #f64344;
      color: #f64344;
    }

    transition: all 0.2s ease-in-out;
    &:hover {
      color: #f64344;
    }
  }
}

.backToHomeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgb(153, 153, 153, 40%);
  border-radius: 15px;

  &_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &_logo {
    width: 40px;
    height: 40px;
  }
  & span {
    font-size: 1.1rem;
  }
}

//responsive--------------------------
@media (max-width: 1000px) {
  .auth-form {
    &_container {
      width: 80%;
      max-width: 650px;
    }
    &_picture--container {
      display: none;
    }
  }
}

@media (max-height: 910px) {
  .auth-routes {
    &_link {
      font-size: 14px;
    }
  }
}
