body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.background-main {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.is-invalid {
  border: 1px solid red !important;
}
@media (max-height: 910px) {
  .invalid-feedback {
    font-size: 12px;
  }
}

.wrapper {
  max-width: 1330px;
  min-height: 1000px;
  padding: 25px;
  margin: 0 auto;
}

//custom-mui-theme
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
  border-radius: 10px !important;
}

button {
  text-transform: none !important;
}
