.main {
  display: flex;

  & .page-content {
    flex: 4;
    width: 80%;
  }

  & .sideBar_container {
    width: 20%;

    & div {
      opacity: 0;
      visibility: hidden;

      & button {
        background-color: #ff4546;
      }
    }
  }
}

@media (max-width: 995px) {
  .main {
    flex-wrap: wrap;
    & .sideBar_container {
      width: 0;
      & nav {
        display: none;
      }

      & div {
        opacity: 1;
        visibility: visible;
      }
    }

    & .page-content {
      width: 100%;
      padding: 0;

      & .postForm {
        width: 100%;
      }

      & .postCard {
        width: 100%;
      }
    }
  }
}
