.notFollowed-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;

  & p {
    text-align: center;
    color: #666;
    width: 80%;
    margin-bottom: 20px;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & svg {
    width: 60% !important;
  }
}
