.notFollowed-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;

  & p {
    text-align: center;
    color: #666;
    width: 80%;
    margin-bottom: 20px;
  }

  & div {
    width: 70%;
    max-width: 500px;
    margin-top: 30px;
    border-radius: 50%;

    & img {
      border-radius: 50%;
    }
  }
}
