.comment {
  position: relative;

  padding: 15px;

  display: flex;
  gap: 10px;
  width: fit-content;
  min-width: 40%;
  margin: 15px 0;
  background-color: #f4f4f4;
  border-radius: 20px;
  white-space: pre-wrap;

  & img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  &_info {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  &_header {
    display: flex;
    align-items: center;
    gap: 5px;

    & .username {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 600;
    }

    & .date {
      margin-bottom: 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: #8f8f8f;
      line-height: 1;
    }
  }

  &_body {
    font-size: 1rem;
    color: #383434;
  }

  &_trash {
    position: absolute !important;
    top: 5px;
    right: 5px;

    & img {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }
}

.loadMoreButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  & button {
    border: none;
    background-color: transparent;
    color: #818181;
    font-size: 14px;

    & span {
      &:hover {
        border-bottom: 2px solid #b8b8b8;
      }
    }
  }
}

@media (max-width: 980px) {
  .comment {
    &_header {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      margin-bottom: 5px;

      & .date {
        font-size: 0.7rem;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 1000px) {
  .comment {
    margin-left: 80px;
  }
}
