.usersListSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f6fafd;
  box-shadow: 0 6px 18px 0 rgba(32, 32, 149, 0.102);

  border-radius: 20px;
  margin-bottom: 20px;

  padding: 15px 0;
  &-header {
    & h1 {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }

  &-item {
    &-avatar {
      margin: 0 auto;
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      cursor: pointer;

      & img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &-sliderContainer {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .usersListSlide {
    margin: 0 45px 30px;
  }
}
